<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530349012718-plc38ieqdu39b45o7q60ulogrvullmfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530349012718-plc38ieqdu39b45o7q60ulogrvullmfn</string>
	<key>API_KEY</key>
	<string>AIzaSyBQrTz0qWKsXDXvp6zfsE5QPQ1JR9E6kXg</string>
	<key>GCM_SENDER_ID</key>
	<string>530349012718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luvunu.IDKMAGIC</string>
	<key>PROJECT_ID</key>
	<string>idkmagic-4dcf5</string>
	<key>STORAGE_BUCKET</key>
	<string>idkmagic-4dcf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530349012718:ios:df190c8301d8dc1e</string>
	<key>DATABASE_URL</key>
	<string>https://idkmagic-4dcf5.firebaseio.com</string>
</dict>
</plist>